@using Store.EmailTemplate.Models
@model ChangePasswordEmailViewModel

@{
    ViewData["EmailTitle"] = $"Hi {Model.UserName}";
}

<p>
    Your password has been changed. Your new password is
</p>

<br />

@Model.NewPassword

<br />

<p>
    If you have any questions, just reply to this email—we're always happy to help out.
</p>

<br />

<p>
    The Store Team
</p>