@using Store.Messaging.Templates.Models.Email
@model ResetPasswordViewModel

@{
    ViewData["EmailTitle"] = $"Hi {Model.UserName}";
}

<p>
    Your password reset request was successful. To set your new password please follow the link below.
</p>

<br />

@await Html.PartialAsync("EmailButton", new EmailButtonViewModel("Set New Password", Model.ConfirmUrl))

<br />

<p>
    If you have any questions, just reply to this email—we're always happy to help out.
</p>

<br />

<p>
    The Store Team
</p>